In [3]:
#Create a pandas DataFrame from the CSV and from Python lists/dicts.
import pandas as pd
df1=pd.read_csv("sample.csv")  
one = pd.DataFrame({ 'transaction_id': [1006] , 'store_id': [2], 'store_name':
["Suburb"], 'date':['2025-10-23'], 'product_id':[502], 'product_name':['Pen'],'quantity':[1], 'unit_price':[0.80], 'total':[0.80], 'customer_id':[2003], 'promo_code':["DISC10"] } )
df=pd.concat([df1,one])
print(df.tail())

     transaction_id  store_id store_name        date  product_id product_name  \
996            1997         1   Downtown  2025-10-28         501     Notebook
997            1998         1   Downtown  2025-10-05         502          Pen
998            1999         2     Suburb  2025-10-11         503      Stapler
999            2000         2     Suburb  2025-10-29         503      Stapler
0              1006         2     Suburb  2025-10-23         502          Pen

     quantity  unit_price  total  customer_id promo_code
996         5        7.78  38.90          NaN        NaN
997         1        2.29   2.29       2003.0        NaN
998         4        5.84  23.36       2007.0        NaN
999         1        9.87   9.87       2005.0        NaN
0           1        0.80   0.80       2003.0     DISC10

In [4]:
#Filter and subset rows/columns (e.g., sales for a store, date ranges, high-value transactions).
store3df=df[(df['store_id']==3)&(df['total']>5.0)&(df['date']>='2025-10-03')&(df['date']<='2025-10-26')]
print(store3df)
print("total rows that satisfy the condition ",len(store3df))

     transaction_id  store_id store_name        date  product_id product_name  \
5              1006         3    Airport  2025-10-03         502          Pen
10             1011         3    Airport  2025-10-20         505       Marker
11             1012         3    Airport  2025-10-23         503      Stapler
15             1016         3    Airport  2025-10-20         501     Notebook
23             1024         3    Airport  2025-10-09         501     Notebook
..              ...       ...        ...         ...         ...          ...
971            1972         3    Airport  2025-10-10         504       Folder
986            1987         3    Airport  2025-10-23         502          Pen
990            1991         3    Airport  2025-10-21         504       Folder
991            1992         3    Airport  2025-10-23         504       Folder
995            1996         3    Airport  2025-10-05         502          Pen

     quantity  unit_price  total  customer_id promo_code
5          10        0.80   8.00       2005.0        NaN
10          3        7.91  23.73       2004.0     DISC10
11          3        8.73  26.19       2003.0     DISC20
15          3        8.67  26.01       2006.0        NaN
23          4        3.29  13.16       2002.0        NaN
..        ...         ...    ...          ...        ...
971         3        3.36  10.08       2003.0        NaN
986         1        7.07   7.07       2006.0     DISC20
990         4        2.44   9.76       2006.0        NaN
991         5        4.32  21.60          NaN     DISC10
995         2        2.92   5.84       2002.0        NaN

[205 rows x 11 columns]
total rows that satisfy the condition  205

In [196]:
df['customer_id']=df['customer_id'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1001 entries, 0 to 0
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  1001 non-null   int64
 1   store_id        1001 non-null   int64
 2   store_name      1001 non-null   object
 3   date            1001 non-null   object
 4   product_id      1001 non-null   int64
 5   product_name    1001 non-null   object
 6   quantity        1001 non-null   int64
 7   unit_price      1001 non-null   float64
 8   total           1001 non-null   float64
 9   customer_id     1001 non-null   int64
 10  promo_code      1001 non-null   object
dtypes: float64(2), int64(5), object(4)
memory usage: 126.1+ KB

In [197]:
#Compute descriptive statistics and group summaries (totals by store, average basket).
print(df.describe())
totalsByStore=df.groupby('store_id')['total'].sum()
print(totalsByStore)
averageBasket=df.groupby('store_id')['total'].mean()
print(averageBasket)
store_summary = df.groupby('store_id').agg(
    total_sales = ('total', 'sum'),
    avg_basket = ('total', 'mean'),
    transaction_count = ('total', 'count')
)

print(store_summary)

       transaction_id     store_id   product_id    quantity   unit_price  \
count     1001.000000  1001.000000  1001.000000  1001.00000  1001.000000
mean      1500.005994     1.944056   503.490509     3.04995     5.265025
std        289.097797     0.821503     1.688242     1.45791     2.761303
min       1001.000000     1.000000   501.000000     1.00000     0.510000
25%       1250.000000     1.000000   502.000000     2.00000     2.880000
50%       1500.000000     2.000000   503.000000     3.00000     5.360000
75%       1750.000000     3.000000   505.000000     4.00000     7.660000
max       2000.000000     3.000000   506.000000    10.00000     9.990000

             total  customer_id
count  1001.000000  1001.000000
mean     16.168382  2004.362637
std      12.345049     2.203489
min       0.510000  2001.000000
25%       6.350000  2003.000000
50%      12.500000  2004.000000
75%      24.160000  2006.000000
max      49.850000  2008.000000
store_id
1    5822.69
2    5171.13
3    5190.73
Name: total, dtype: float64
store_id
1    15.86564
2    16.00969
3    16.69045
Name: total, dtype: float64
          total_sales  avg_basket  transaction_count
store_id
1             5822.69    15.86564                367
2             5171.13    16.00969                323
3             5190.73    16.69045                311

In [191]:
#Perform simple cleaning (handle missing values, fix data types, drop duplicates).
#count missing values
df.isnull().sum()

transaction_id      0
store_id            0
store_name          0
date                0
product_id          0
product_name        0
quantity            0
unit_price          0
total               0
customer_id       115
promo_code        596
dtype: int64

In [192]:
#filling missing values of customer_id with mean
meanValue=int(df['customer_id'].mean())
df['customer_id']=df['customer_id'].fillna(meanValue)
#filling missing values of promo_code with None
df['promo_code']=df['promo_code'].fillna("None")
#chceck for missing values count
print(df.isnull().sum())

transaction_id    0
store_id          0
store_name        0
date              0
product_id        0
product_name      0
quantity          0
unit_price        0
total             0
customer_id       0
promo_code        0
dtype: int64

In [193]:
#check for duplicates
print(df.duplicated().sum())

0

In [5]:
dfClean=df
dfClean

,transaction_id,store_id,store_name,date,product_id,product_name,quantity,unit_price,total,customer_id,promo_code
0,1001,1,Downtown,2025-10-01,501,Notebook,2,3.50,7.00,2001.0,NaN
1,1002,1,Downtown,2025-10-01,502,Pen,5,0.80,4.00,2002.0,DISC10
2,1003,2,Suburb,2025-10-02,501,Notebook,1,3.50,3.50,2003.0,NaN
3,1004,2,Suburb,2025-10-02,503,Stapler,1,5.25,5.25,NaN,NaN
4,1005,1,Downtown,2025-10-03,504,Folder,3,1.20,3.60,2004.0,DISC10
...,...,...,...,...,...,...,...,...,...,...,...
996,1997,1,Downtown,2025-10-28,501,Notebook,5,7.78,38.90,NaN,NaN
997,1998,1,Downtown,2025-10-05,502,Pen,1,2.29,2.29,2003.0,NaN
998,1999,2,Suburb,2025-10-11,503,Stapler,4,5.84,23.36,2007.0,NaN
999,2000,2,Suburb,2025-10-29,503,Stapler,1,9.87,9.87,2005.0,NaN
0,1006,2,Suburb,2025-10-23,502,Pen,1,0.80,0.80,2003.0,DISC10

In [6]:
#Build a mini ETL pipeline: read CSV → clean & transform → output JSON.(Reading CSV, cleaning&transforming is done in the above steps)
dfClean.to_json("output.json", orient="records", indent=4)